<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
    <script
            src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
    </script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js">
    </script>
</head>
<body>
<div id="contents"></div>
<script type="text/babel">
    var app = new Vue({
        el: '#contents',
        data: {
            players: [
                { id: "1",
                    name: "Lionel Messi",
                    description: "Argentina's superstar" },
                { id: "2",
                    name: "Christiano Ronaldo",
                    description: "World #1-ranked player from Portugal" }
            ]
        }
    });
</script>
</body>
</html>