<!DOCTYPE HTML>
<html lang="">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>Список пользователей:</div>
    {{#players}}
        <div>
            <b>{{id}}</b>
            <span>{{login}}</span>
            <i>{{password}}</i>
        </div>
    {{/players}}
</body>
</html>